body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}

#cabecera {
    background: #abffd6;
    color: dimgrey;
    margin: 0;
    padding: 0.5em;
    font-weight: bold;
    box-shadow: 11px 15px 20px -3px rgba(178,188,214,1);
    -webkit-box-shadow: 11px 15px 20px -3px rgba(178,188,214,1);
    -moz-box-shadow: 11px 15px 20px -3px rgba(178,188,214,1);
}

#cabecera #tagline {
    margin: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#container {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid palegreen;
    margin: 0 auto;
}

#container h1 {
    font-size: 40px;
    color: palegreen;
}

#post {
    padding: 1em;    
}

#footer {
    background: #abffd6;
    color: dimgrey;
    text-align: center;
    padding: 0.5em;
}
